<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_Ly_Phong_Kham_Dong_Y.Properties.Settings.QLPhongKhamDongYConnectionString"
            connectionString="Data Source=CT-FUBUKI;Initial Catalog=qlPhongKhamDongY;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>